<style>
  .container-wrapper{ padding: 5%; font-family: Montserrat, sans-serif; }
  .inner-container-wrapper
  {
     padding-top: 2%;
    padding-bottom: 4%;
    background-color:#1c1c1c
  }
  .star-checked 
  {
    color: yellowgreen;
  } 

  .star-unchecked 
  {
    color: black;
  }   
</style>

<div class="container-wrapper">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 inner-container-wrapper">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="avatar-wrapper d-flex justify-content-center">
                        <img
                            src="/images/me.jpg"
                            alt=""
                            width="40%"
                            class="avatar rounded-circle"
                        />
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="row d-flex justify-content-center">
                    <ul id="progress" class="progress-panel" >
                        <li>
                            <div class="node blue"></div>
                            <p>Jan 2021 - Senior Software
                            Engineer</p>
                        </li>
                        <li>
                            <div class="divider blue"></div>
                        </li>
                        <li>
                            <div class="node blue"></div>
                            <p>Sep 2017 - Software Engineer</p>
                        </li>
                        <li>
                            <div class="divider blue"></div>
                        </li>
                        <li>
                            <div class="node blue"></div>
                            <p>Mar 2017 - Associate Software
                            Engineer</p>
                        </li>
                        <li>
                            <div class="divider blue"></div>
                        </li>
                        <li>
                            <div class="node blue"></div>
                            <p>Sep 2016 - Trainee Software
                            Engineer</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <h2 class="d-flex justify-content-center">SERVE THE BEST AND DESERVE THE
                        BEST
                    </h2>
                </div>
            <div class="row">
                <h5>To be a qualified professional in software engineering, who is
                always innovative and passionate in learning and gaining new knowledge
                for the advancement of the company while allowing myself to grow
                within the industry
                </h5>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="row skills-panel">
                <h5 class="col-lg-12">SKILLS</h5>
                <div class="col-lg-4">
                    <h5>.Net</h5>
                </div>
                <div class="col-lg-4">
                    <h5>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-unchecked"></span>
                    </h5>
                </div>
                <div class="col-lg-4"></div>

                <div class="col-lg-4">
                    <h5>JavaScript</h5>
                </div>
                <div class="col-lg-4">
                    <h5>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-unchecked"></span>
                    </h5>
                </div>
                <div class="col-lg-4"></div>

                <div class="col-lg-4">
                    <h5>Node js</h5>
                </div>
                <div class="col-lg-4">
                    <h5>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-unchecked"></span>
                        <span class="fa fa-star star-unchecked"></span>
                    </h5>
                </div>
                <div class="col-lg-4"></div>
                
                <div class="col-lg-4">
                    <h5>React/Angular</h5>
                </div>
                <div class="col-lg-4">
                    <h5> 
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-unchecked"></span>
                        <span class="fa fa-star star-unchecked"></span>
                    </h5>
                </div>
                <div class="col-lg-4"></div>
                
                <div class="col-lg-4">
                    <h5>SQL</h5>
                </div>
                <div class="col-lg-4">
                    <h5>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-checked"></span>
                        <span class="fa fa-star star-unchecked"></span>
                    </h5>
                </div>
                <div class="col-lg-4"></div>
                
                {{!-- <table>
                    <tr>
                        <th><h5>SKILLS</h5></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><h5>.Net</h5></td>
                        <td>
                            <h5><span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-unchecked"></span>
                            </h5>
                        </td>
                    </tr>
                     <tr>
                        <td><h5>JavaScript</h5></td>
                        <td>
                            <h5><span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-unchecked"></span>
                            </h5>
                        </td>
                    </tr>
                    </tr>
                    <tr>
                        <td><h5>React/Angular</h5></td>
                        <td>
                            <h5> 
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-unchecked"></span>
                                <span class="fa fa-star star-unchecked"></span>
                            </h5>
                        </td>
                    </tr>
                    </tr>
                    <tr>
                        <td><h5>SQL</h5></td>
                        <td>
                            <h5>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-unchecked"></span>
                            </h5>
                        </td>
                    </tr>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table> --}}
                
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>