<style>
  .content-wrapper{ padding:7% 7% 7% 7%; font-family: 
    font-family: Source Sans Pro,Helvetica,sans-serif;; } .txt-input, .txt-input:focus{ background-color: #191919;
  border-color: #ffffff1c; color: #cda3a3; }
  .input-margin{
      margin-top: 30px;
  }

  .submit-btn {
      border: 2px solid #f9004d;
    background: #f9004d;
    color: #fff;
    width: 25%;
    height: 8%;
    font-family: Source Sans Pro,Helvetica,sans-serif;
    letter-spacing: 2px;
  }
  .submit-btn:hover {
    border: 2px solid #f9004d;
    background: #191919;
    color: #f9004d;
    width: 25%;
    height: 8%;
    font-family: Source Sans Pro,Helvetica,sans-serif;
  }

  .hire-me-txt{
    font-family: Montserrat, sans-serif;
    font-size: 60px;
    margin-bottom: 8px;
  }

  .sub-txt{
    font-size: 18px;
    line-height: 30px;
    color: #cfd4e5;
  }

</style>

<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="content-wrapper">
        <div class="row">
    <H1 class="hire-me-txt">Hire Me.</H1>
    <p class="sub-txt">Connect with me via phone: +1 (226) 505-9167 or email: fdocharles@gmail.com</p>
</div>
      <form>
        <div class="form-group input-margin">
          <input
            type="text"
            class="form-control txt-input"
            id="name"
            name="name"
            aria-describedby="emailHelp"
            placeholder="Your Name*"
            required
          />
        </div>
        <div class="form-group input-margin">
          <input
            type="email"
            class="form-control txt-input"
            id="email"
            name="email"
            placeholder="Your Email*"
            required
          />
        </div>
        <div class="form-group input-margin">
          <input
            type="text"
            class="form-control txt-input"
            id="subject"
            name="subject"
            placeholder="Write a Subject"
          />
        </div>
        <div class="form-group input-margin">
          <textarea
            class="form-control txt-input"
            id="message"
            name="message"
            placeholder="Your Message"
            rows="5"
          />
        </textarea>
        <button type="submit" class="btn input-margin submit-btn ">SUBMIT</button>
      </form>
    </div>
  </div>
  <div class="col-lg-3"></div>

</div>