<style>
  p{ font-family: Montserrat,sans-serif; font-size: 49px; font-weight: 900 }
  p.highlight-text{ font-size: 92px; }
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-6" style="padding-top: 20%;">
      <p>Hi, I’m Charles Fernando</p>
      <p class="highlight-text">JS Developer</p>
      <p>based in Canada.</p>
    </div>
    <div class="col-lg-6">
      <img
        src="/images/me.jpg"
        alt=""
        width="70%"
        class="avatar rounded-circle"
      />
    </div>
  </div>
</div>