<style>
  .content-wrapper{ padding:7%; padding-top: 1%; font-family: font-family:
  "Lucida Grande", Helvetica, Arial, sans-serif;} .card-wrapper{
  background-color: #ffffff0d; padding: 2% 0% 2% 2%; } .row-wrapper {
  margin-top: 4%;} .card-desc{ color: #898A94; font-size: 18px;} .c-title{
  font-weight: 500; font-family:font-family: Montserrat, sans-serif;}
  .delivery-card-img { height: 153px px ; margin-top: 19px; width: 105px; }
  .title{ font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  letter-spacing: 2px; }

</style>
<div class="row content-wrapper">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <div class="row">
      <h2 class="d-flex justify-content-center title">MY SUCCESS</h2>
    </div>
    <div class="row row-wrapper">
      <div class="card col-lg-5 card-wrapper">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/images/projects/ocas.PNG"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title c-title">OCAS</h5>
              <h5 class="card-title c-title">Ontario College Application Service</h5>
              <p class="card-text card-desc">OCAS is a web portal where students
                can apply to colleges in Canada. It helps students to apply for
                colleges and transfer from one college to another.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
      <div class="card col-lg-5 card-wrapper">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/images/projects/WebPOS.PNG"
              class="img-fluid rounded-start"
              alt="..."
              style="margin-top: 11%;"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Web POS</h5>
              <p class="card-text card-desc">WebPOS is a successful web based
                multistore POS system which currently uses in Canada.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-wrapper">
      <div class="card col-lg-5 card-wrapper">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/images/projects/FLOW.PNG"
              class="img-fluid rounded-start"
              alt="..."
              style="margin-top: 12%;"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">FlowTrack</h5>
              <p class="card-text card-desc">FlowTrack is designed to manage
                orders placed through WebPOS system from order processing to
                assigning the order to the delivery driver.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
      <div class="card col-lg-5 card-wrapper">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/images/projects/delivery.PNG"
              class="img-fluid rounded-start"
              alt="..."
              style=" height: 153px; margin-top: 19px;
  width: 105px;"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">DTracker</h5>
              <p class="card-text card-desc">When an order assigned to a
                delivery driver through FlowTrack system, the delivery driver
                can access the orders from DTracker application where he can
                decide which route, he should use to complete all the
                deliveries.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>